/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html
{
	font-size: 1vw;
}


header
{
	background-image: url('../img/header_bg.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;
	float: left;
}


div.innerContent
{
	width: 70%;
	margin: 0px 15%;
	float: left;
}

div.topInfo
{
	float: left;
	width: 50%;
}


.logo
{
	margin-top: 20%;
	width: 100%;
}

.logo img
{
	width: 20%;
}

.topImg
{
	float: left;
	width: 50%;
}
.topImg img
{
	margin-bottom: -15.8%;
	width: 100%;
}

.heading
{
	color: #fff;
	font-size: 3.5rem;
	font-family: 'Oswald', sans-serif;
	margin-top: 10%;
	margin-bottom: 5%;
}

.subtitle
{
	color: #fff;
	font-family: Georgia, sans-serif;
	font-size: 1rem;
	font-style: italic;
	width: 80%;
}

/* Here comes the section*/

section
{
	
	
}


.mainBody
{
	margin-top: 5%;
}

.topSlogan h2
{
	font-size: 1.6rem;
	color: #00aeef;
	margin-bottom: 2%;
}

.topSlogan div
{
	font-size: 0.8rem;
	color: #858585;
	margin-bottom: 2%;
	font-style: italic;
	font-family: Georgia, sans-serif;
}

.products
{
	float: left;
	width: 100%;
	margin-bottom: 5%;
}

.products .product
{
	float: left;
	width: 18%;
	padding-bottom: 18%;
	background-color: #abbcc3;
	border-radius: 3% ;
	margin: 1%;
	position: relative;
	transition:  background-color 5s;
}

.products .product:first-of-type
{
	margin-left: 0px;
}

.topOffer
{
	position: absolute;
	top: 0px;
	right: 0px;
}

.mainTopOffer
{
	top: 0px;
	right: 0px;
	position: fixed;
}

.products .product:hover
{
	background-color: #800080;
	transition:  background-color 5s;
}
