* {
    margin: 0;
    padding: 0;
}

div {
    background-color: transparent;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

.menu{
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    opacity: 0.5;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.menu:hover {
    opacity: 1;
}

.homeBtn {
    float: left;
    text-decoration: none;
    background-color: #990099;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.openNav {
    float: right;
}

.navBtn {
    float: right;
    text-decoration: none;
    background-color: #990099;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.navS {
    display: none !important;
    position: absolute;
    right: 0;
    top: 50px;
}

.navBar {
    list-style-type: none;
    float: left;
    font-size: 18px;
    background-color: #333;
    opacity: 0.5;
    color: #fff;
}

.dropdownS {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropBtn {
    background-color: #990099;
}

.dropdownS:hover .dropdownContentS {
    display: block;
}

.dropdownS:hover .dropBtn {
    background-color: #009688;
    width: 100%;
}

.dropdownContentS {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 2;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdownContentS a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdownContentS a:hover {
    background-color: #ffe6ff;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdownContent a:hover {
    background-color: #ffe6ff;
}

.dropBtn {
    background-color: #333333;
    border: none;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s ease-in-out;
}

.dropdownS:hover .dropdownContentS {
    display: block;
}

.dropdownS:hover .dropBtn {
    background-color: #990099;
    width: 100%;
    display: block;
}

.header {
    margin: auto;
    padding-bottom: 18px;
    padding-top: 128px;
    min-height: 300px;
    position: relative;
    background-color: #ffccff;
    background-size: cover;
    z-index: -2;
    color: #333;
    text-align: center;
}

#headerText {
    font-family: 'Pattaya', sans-serif;
    margin: 16px;
    font-size: 64px;

}

.stuffed {
    border-bottom: solid #ffccff;
    margin: 6px;
    padding: 18px;
}

.pork {
    border-bottom: solid #ffccff;
    margin: 6px;
    padding: 18px;
}

.sectTitle {
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

div.sectTitle.stuff {
    border: dashed #990099;
}

div.sectTitle.pork {
    border: dotted #cc66ff;
}

.sectTitleText {
    font-size: 32px;
    font-style: italic;
    font-family: 'Pattaya', serif;
}

.sectSubtitleText {
    font-size: 20px;
    font-style: oblique;
}

.paraTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 12px;
}

.paraText {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 6px;
}

div.paraText#redText {
    color: #ff6666;
}

div.paraText#orangeText {
    color: #ffb366;
}

div.paraText#greenText {
    color: #009900;
}

div.paraText#blueText {
    color: #1a75ff;
}

.artTitle {
    border-bottom: dotted #1a75ff;
    border-right: dashed #009900;
    border-top: groove #ff6666;
    border-left: double #ffb366;
    font-family: 'Pattaya', sans-serif;
    font-size: 124px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
    margin-top: 2%;
}

.img {
    padding: 18px;
    position: relative;
    float: left;
    max-width: 30%;
    padding: 2px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    text-align: center;
    background-size: cover;
    position: relative;
    margin: 5%;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
}

.close {
    background: skyblue;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    top: -20px;
    right: auto;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    z-index: 100;
}

.close:hover {
    background-color: red;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.bigImg {
    max-width: 75%;
}

.images {
    margin-left: 7.5%;
    align-content: center;
}

.image {
    position: relative;
    text-align: center;
}

.mHeader {
    background-color: #009688;
    color: #ffffff;
    padding: 5%;
    font-size: 64px;
}

.mPara {
    background-color: #f9f9f9;
    color: #333333;
    padding: 5%;
    font-size: 64px;
}

.mFooter {
    background-color: #009688;
    color: #ffffff;
    padding: 5%;
    font-size: 64px;
}

.close#spec {
    background: skyblue;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    top: -20px;
    right: -1px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    z-index: 100;
}

.close:hover#spec {
    background-color: red;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

@media screen and (max-width:600px){.navBar{text-align:center}}
@media (max-width:600px){.dropdown{display:none!important}}
@media (max-width:992px) and (min-width:601px){.navS, .openNav{display:none!important}}
@media (min-width:993px){.navS, .openNav{display:none!important}}